[Unit]
Description=Webserver to controll ws2812 leds
Documentation=https://github.com/thigg/ledsonnodezero
After=network.target

[Service]
WorkingDirectory=/home/pi/ledsonpi
Environment=NODE_PORT=80
Type=simple
User=root
ExecStart=/usr/bin/node /home/pi/ledsonpi/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target
